doctype html
html
    head
        meta(charset="UTF-8")
        title iMovie小站
        link(type="text/css", rel="stylesheet", href="./css/index.css")
    body
        #title
            p.logo iMoves
                span 爱电影 爱生活
        #oneWord
            p Is life always this hard, or is it just when you're a kid ?
            p Always like this.
            p From Léon
        a#enter(href="./page/guess.html" style="text-decoration:none;")
            span Enter
            img#moon(src="./img/moon.png" width="80px")

        .footer

